@model LaboraTechDapperCoreMVCLayer.Models.Testimonial
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="update-form-container">
	<div class="frosted-form-box fade-slide">
		<h2 class="form-title">Add New Testimonial</h2>

		<form asp-action="Add" asp-controller="Testimonial" method="post">

			<div class="form-group mb-3">
				<label asp-for="Name" class="form-label">Testimonial Name</label>
				<input asp-for="Name" class="form-control form-input" />
			</div>

			<div class="form-group mb-3">
				<label asp-for="Profession" class="form-label">Profession</label>
				<input asp-for="Profession" class="form-control form-input">
			</div>

			<div class="form-group mb-3">
				<label asp-for="Description" class="form-label">Testimonial Description</label>
				<textarea asp-for="Description" class="form-control form-input" rows="3"></textarea>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Image" class="form-label">Testimonial Image</label>
				<textarea asp-for="Image" class="form-control form-input" rows="2"></textarea>
			</div>

			<button type="submit" class="btn btn-update">Add Testimonial</button>
		</form>
	</div>
</div>




