@model List<LaboraTechDapperCoreMVCLayer.Models.Home>
<div class="container-fluid header-carousel px-0 mb-5 mt-0 pt-0">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

		<div class="carousel-inner">
			@for (int i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
				var activeClass = i == 0 ? "active" : "";
				<div class="carousel-item @activeClass">
					<img class="w-100" src="@item.ImageUrl" alt="Image" />
					<div class="carousel-caption">
						<div class="container">
							<div class="row justify-content-@(i % 2 == 0 ? "start" : "end")">
								<div class="col-lg-7 text-@(i % 2 == 0 ? "start" : "end")">
									<h1 class="display-1 text-white animated slideIn@(i % 2 == 0 ? "Right" : "Left") mb-3">
										@item.Title
									</h1>
									<p class="mb-5 animated slideIn@(i % 2 == 0 ? "Right" : "Left")">
										@item.SubTitle
									</p>
									<a href="/Home/Update/@item.HomeId" class="btn btn-primary py-3 px-5 animated slideIn@(i % 2 == 0 ? "Right" : "Left")">
										Update
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>